:host {
  margin: 1rem auto 0 auto;
}
ul {
  list-style-type: none;
  padding: 0;

  > li {
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    padding: 10px;
    background-color: #2a2a35;
    border-radius: 4px;

    app-see-details-product-button {
      margin-left: auto;
    }
  }
}
