:host {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0 5px;
  padding: 10px 15px;
  position: relative;
  display: inline-block;

  &:hover {
    background-color: #ffffff0a;
    border-radius: 4px;
  }

  .badge {
    background-color: #f8312f;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    line-height: 20px;
    position: absolute;
    font-size: 12px;
    top: 0;
    right: 0;
  }

  &.right {
    margin-left: auto;
  }
}
